

<!--===============================================================================================-->	
	<script src="/assets/web/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/web/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/web/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<!-- <script src="/assets/web/vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/assets/web/vendor/tilt/tilt.jquery.min.js"></script> -->

	<script src="/assets/web/vendor/jquery-toast-plugin/1.3.1/jquery.toast.min.js"></script>      

	<script src="/assets/web/js/jquery.form.min.js"></script>
	<script src="/assets/web/js/jquery.validate.min.js"></script>
	<script src="/assets/web/js/my.js"></script>

</body>
</html>