<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trans Missito</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/assets/web/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/web/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/web/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/web/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/assets/web/css/custom.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/assets/web/vendor/animate/animate.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/assets/web/vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->

<link href="/assets/web/vendor/jquery-toast-plugin/1.3.1/jquery.toast.min.css" rel="stylesheet" type="text/css">

</head>
<body class="new_passwd_body">
	
			

	