
<% include part/header.ejs %>
    <main class="main-wrapper clearfix">
        
        <div class="row page-title clearfix">
            <div class="page-title-left">
                
                    <h6 class="page-title-heading mr-0 mr-r-5">Change Password</h6>
                   
                       
                <p class="page-title-description mr-0 d-none d-md-inline-block"></p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/cms/">Dashboard</a>
                    </li>
                  
                   
                        <li class="breadcrumb-item active">Change Password</li>
                       
                            <!-- <li class="breadcrumb-item active">Update Driver</li> -->
                            
                </ol>
            </div>

        </div>

       
        <div class="widget-list">
            <div class="row">
                <div class="col-md-12 widget-holder">
                    <div class="widget-bg">
                        <div class="widget-body clearfix">
                            <!-- <h5 class="box-title mr-b-0">Create Users</h5> -->
                            <form id="change_password_form" method="post" action="/cms/change-password" enctype="application/x-www-form-urlencoded">

                                <div class="col-md-12">
                                    <div class="row">
                                            <div class="col-md-4 ">
                                   
                                                    <div class="form-group">
                                                        <label class="form-control-label">Current Password</label>
                                                        <input type="password" class="form-control" id="Current_Password" name="Current_Password" placeholder="Current Password" required   />
                
                                                    </div>
                
                                                </div>
                                    
                                    <div class="col-md-4 ">
                                   
                                            <div class="form-group">
                                                <label class="form-control-label">New Password</label>
                                                <input type="password" class="form-control" id="New_Password" name="New_Password" placeholder="New Password" required />
        
                                            </div>
        
                                        </div>
                                        <div class="col-md-4 ">
                                   
                                                <div class="form-group">
                                                    <label class="form-control-label">Conform Password</label>
                                                    <input type="password" class="form-control" id="Conform_Password" name="Conform_Password"  placeholder="Conform Password" required />
            
                                                </div>
            
                                            </div>
            
                                </div>
                            </div>

                              
                              
                                <div class="form-actions">
                                    <div class="form-group row">
                                        <div class="col-md-12 text-right btn-list">
                                            <button class="btn btn-primary btn-rounded" type="button"
                                            
                                            onclick="
                                            submit_data(
                                                 this,
                                                 '',
                                                 'change_password_form',
                                                 '',
                                                 '/cms/change-password',
                                                 '',
                                                 '/cms/dashboard',
                                                 true,
                                                 '',
                                                 '',
                                                 true,
                                                 false,
                                                 true,
                                                 true
                 
                                             );"
                                            >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.widget-body -->
                    </div>
                    <!-- /.widget-bg -->
                </div>





                <!-- /.widget-holder -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-list -->
    </main>
    <!-- /.main-wrappper -->

    </div>
    <!-- /.content-wrapper -->

    <% include part/footer.ejs %>
    