<% include part/header.ejs %>


        <div class="row container-min-full-height">
            <div class="col-lg-8 p-3 login-left">
                <div class="w-50">
                    <h3 class="mb-4 text-center">Enter Your Username OR Email</h3>
                    <form class="text-center" id="FGP_From" method="post" action="/cms/forget-password" enctype="application/x-www-form-urlencoded" >
                        <div class="form-group">
                            <!-- <label class="text-muted" for="example-email">Email</label> -->
                            <input 
                            type="email" 
                            placeholder="abc@xyz.com" 
                            class="form-control form-control-line" 
                            id="FGP_User_Name" 
                            name="FGP_User_Name"
                            required="true"
                            >
                        </div>
                       
                        <div class="form-group mr-b-20">
                            <button class="btn btn-block btn-rounded btn-md btn-primary text-uppercase fw-600 ripple" 
                            onclick="
                            submit_data(
                                 this,
                                 '',
                                 'FGP_From',
                                 '',
                                 '/cms/forget-password',
                                 '',
                                 '',
                                 true,
                                 '',
                                 '',
                                 true,
                                 false,
                                 true,
                                 true
 
                             );
                 
                             "
                             type="button" 
                            
                            >Reset Password</button>
                        </div>
                    </form>
                    <!-- /form -->
                    
                </div>
                <!-- /.w-75 -->
            </div>
            <div class="col-lg-4 login-right d-lg-flex d-none pos-fixed pos-right text-inverse container-min-full-height" style="background-image: url(/assets/cms/img/site-bg-small.jpg)">
                <div class="login-content px-3 w-75 text-center">
                  
                </div>
                <!-- /.login-content -->
            </div>
            <!-- /.login-right -->
        </div>
        <!-- /.row -->
  
  
    <% include part/footer.ejs %>