<% include part/header.ejs %>

    <div class="form_panel_div">
        
        <div class="form_panel_logo">
            <img src="/assets/web/images/form_logo.png" alt="" >
        </div>
        
        <div class="form_panel_div_inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-bg">
                        <div class="widget-body clearfix">
                            <!-- <h5 class="box-title mr-b-0">Create Users</h5> -->
                            <form id="change_password_form" method="post" action="/change-password/<%= token %>" enctype="application/x-www-form-urlencoded">

                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="form_panel_mheading">New Password Set</h2>
                                        <hr class="form_panel_hr">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">New Password</label>
                                            <input type="password" class="form-control" id="New_Password" name="New_Password" placeholder="New Password" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Conform Password</label>
                                            <input type="password" class="form-control" id="Conform_Password" name="Conform_Password" placeholder="Conform Password" required />
                                        </div>
                                    </div>
                                </div>                                



                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-primary btn-rounded form_panel_btn" type="button" onclick="
                                submit_data(
                                     this,
                                     '',
                                     'change_password_form',
                                     '',
                                     '/change-password/<%= token %>',
                                     '',
                                     '',
                                     true,
                                     'change_password_function',
                                     'this',
                                     false,
                                     true,
                                     true,
                                     true
     
                                 );">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.widget-body -->
                    </div>
                    <!-- /.widget-bg -->
                </div>





                <!-- /.widget-holder -->
            </div>
        </div>
    </div>




    <form id="change_password_message_form" method="post" action="/message/change-password" enctype="application/x-www-form-urlencoded">


    </form>
    <script>
        function change_password_function(respon, html) {

            // suss_modal(respon.message,'');


            $('#change_password_message_form').submit();


            // var request = new XMLHttpRequest();
            // request.open("POST", "");
            // request.send(new FormData());

            // setTimeout(function(){

            //     // window.location.href = "/cms/login";

            // }, 3000);

        }

    </script>


    <% include part/footer.ejs %>