<% include ../part/header.ejs %>


<div class="form_panel_div2">
        
            <div class="form_panel_logo">
                <img src="/assets/web/images/form_logo.png" alt="" >
            </div>
        
            <div class="form_panel_div_inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="form_panel_mheading2"><i class="fa fa-envelope-o" aria-hidden="true"></i></h2>
                        <hr class="form_panel_hr">
                    </div>
                    <div class="col-md-12">
                        <p>Email Verify Successfully</p>
                    </div>            
                </div>
            </div>
        </div>

<% include ../part/footer.ejs %>